#svg-div, html, body {
    margin:0;
    padding:0;
    height:100%;
    width: 100%;
    /*overflow: hidden;*/
}

html {
    overflow: hidden;
    /*-webkit-overflow-scrolling: touch;*/
}

#svg-div {
    position: absolute;
    top:0;
    left:0;
}